<div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-lg-9">
        <h1 class="mb-3">Add Destination</h1>
        <form class="mb-3 mt-md-4" [formGroup]="itemForm" (ngSubmit)="onSubmit()">
          <div class="row g-3">
            <div class="col-12">
              <label for="state" class="form-label">State</label>
                <select [(ngModel)]="formModel.state" formControlName="state"  class="form-control" name="" id="">
                <option value="null">Choose State</option>
                <option value="Tamilnadu">Tamilnadu</option>
                <option value="AndraPradesh">AndraPradesh</option>
                <option value="Kerala">Kerala</option>
                <option value="Mumbai">Mumbai</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Gujarat">Gujarat</option>
              </select>
            </div>
          
         
            <div class="col-12">
              <label for="locationname" class="form-label">Location Name</label>
    
              <input type="locationName" name ="locationName"formControlName="locationName" [(ngModel)]="formModel.locationName" class="form-control" id="locationName" placeholder="Location Name">
              <div *ngIf="itemForm.controls['locationName'].invalid && (itemForm.controls['locationName'].dirty || itemForm.controls['locationName'].touched)"
              class="ng-dirty">
              <span *ngIf="itemForm.controls['locationName'].errors">
                <span class="text-danger">Please Enter Location .</span>
              </span>
            
            </div>
            </div>
            <div class="col-12">
              <label for="highlights" class="form-label">High Lights</label>
              <textarea type="highLights" name ="highLights" formControlName="highLights" [(ngModel)]="formModel.highLights" class="form-control" id="highLights" placeholder="High Lights">
                </textarea>
              <div *ngIf="itemForm.controls['highLights'].invalid && (itemForm.controls['highLights'].dirty || itemForm.controls['locationName'].touched)"
              class="ng-dirty">
              <span *ngIf="itemForm.controls['highLights'].errors">
                <span class="text-danger">Please Enter High Lights .</span>
              </span>
              </div>
            </div>
            <div class="col-12">
              <div class="row">
                <div class="col-12">
                  <button  type="submit" class="btn btn-primary w-100 fw-bold" >Add Destination</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  
