<div class="row text-center">
<h1 class="text-capitalize">Welcome to Travel Management System</h1>
</div>
<div *ngIf="roleName === 'TRAVELLER'">
  <app-addreview></app-addreview>
</div>


<!-- 

  <div class="container-fluid">
   
    <div class="row mt-5" >
      <div class="col-sm-4" >
        <div class="card cards card-2 text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Tamilnadu</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4" >
        <div class="card cards card-2 text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">AndraPradesh</h5>
        </div>
      </div>
    </div>
    <div class="col-sm-4" >
        <div class="card cards card-2 text-center" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Kerala</h5>
        </div>
      </div>
    </div>
   
    </div>
    <div class="row mt-5" >
        <div class="col-sm-4" >
          <div class="card cards card-2 text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Mumbai</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4" >
          <div class="card cards card-2 text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Karnataka</h5>
          </div>
        </div>
      </div>
      <div class="col-sm-4" >
          <div class="card cards card-2 text-center" style="width: 18rem;">
          <div class="card-body">
            <h5 class="card-title">Gujarat</h5>
          </div>
        </div>
      </div>
     
      </div>
  </div> -->
  <hr>
  <app-view-destination></app-view-destination>